@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model BlogPost
@{
    ViewBag.Title = "Blog title";
}
<h1>Blog post entry screen</h1>
<form asp-action="Index" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Post">Enter blog post content:</label>
        <textarea asp-for="Post" ></textarea>
    </div>
    <div>
        <label asp-for="Author">Author:</label>
        <input asp-for="Author"/>
    </div>
    <div>
        <label asp-for="Time">Post time:</label>
        <input type="datetime-local" asp-for="Time"/>
    </div>
    <div>
        <label>Written blog post:</label>
        <textarea readonly>@ViewBag.BlogPost</textarea>
    </div>
    <button type="submit">Save blog post</button>
    <a asp-action="Index">Clear</a>
</form>
