@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model BlogPost
@{
    ViewBag.Title = "Blog post entry screen display monitor";
}

<main class="container-sm">
<h1>@ViewBag.Title</h1>
<form asp-action="Index" method="post">

    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Post">Enter blog post content:</label>
        <textarea asp-for="Post" class="form-control" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Author">Author:</label>
        <input asp-for="Author" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Time">Post time:</label>
        <input type="datetime-local" asp-for="Time" class="form-control"/>
    </div>
    <div class="form-group">
        <label>Written blog post:</label>
        <textarea readonly class="form-control">@ViewBag.BlogPost</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save blog post</button>
    <a asp-action="Index" class="btn btn-secondary">Clear</a>
</form>
</main>